/*
Tamplete Name:  Custom Portfolio
Author Name:  Anik Islam
Version: 1.0.0
*/


/* CSS VARIABLES */
:root{
    --DM-Sans:  'DM Sans', sans-serif;
    --Noto-Sans:'Noto Sans TC', sans-serif;
    --Space-Grotesk: 'Space Grotesk', sans-serif;
    --Crimson: 'Crimson Text', serif;
    --Poppins: 'Poppins', sans-serif;
    --white: #fff;
    --black: #000;
    --box-shadow: 0 0 10px #ddd;
    --nav-logo: #2B29A7;
    --nav-menu: #666;
    --hover-color: #FF6666;
    --hero-bg: #D9D9D9;
    --skill-shadow:14px 9px 64px -22px rgba(24,21,21,0.75);
    --light-gray: #666666;
    --box-shadow-2: -1px 5px 37px -9px rgba(24,18,18,0.75);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-bottom: 500px; */
}
/* basic set up */

h1{
    font-size: 55px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 48px;
}
h4{
    font-size: 32px;
}
h5{
    font-size: 30px;
}
h6{
    font-size: 28px;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
}
img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}



/* HEADER SECTION START */
.nav-section{
    background-color: var(--white);
}
.nav-row {
    display: flex;
    justify-content: space-between;
    /* box-shadow: var(--box-shadow); */
    align-items: center;
    padding: 15px 51px 15px 51px;
}
.logo a{
    font-size: 50px;
    text-decoration: none;
    color: var(--nav-logo);
    font-weight: 700;
}
.nav-menu nav ul li{
    display: inline-block;
    list-style: none;
}
.nav-menu nav ul li a{
    text-decoration: none;
    padding: 0 50px;
    font-size: 20px;
    font-weight: 500;
    color: var(--nav-menu);
    transition: 0.3s;
    align-items: center;
}
.nav-menu nav ul li a:hover{
    color: var(--hover-color);
}
.nav-menu{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--nav-menu); 
    
}
.nav-menu .social-icons i+i{
    margin-left: 10px;
    transition: 0.3s;
    
}
.nav-menu .social-icons i{
    cursor: pointer;
}
.nav-menu .social-icons i:hover{
    color: var(--hover-color);
}
.social-icons{
    display: flex;
    align-items: center;
}
#mobile-menu-btn{
    border: 0;
    background-color: transparent;
    font-size: 24px;
    box-shadow: var(--box-shadow);
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 25px;
    color: var(--black);
    display: none;
}
/* HEADER SECTION END */


/* HERO SECTION START */
.hero-section{
    background-color: var(--hero-bg);
    padding: 100px;
    overflow: hidden;
}
.hero-content{
    display: flex;
    gap: 155px;
}
.hero-left{
    flex-shrink: 0;
    width: 50%;
}
.hero-right{
    width: 50%;
}
.hero-right img {
    position: absolute;
    margin-top: -125px;
    width: 356px;
    display: inline-block;
    max-width: initial;
}
.hero-left .first{
    font-size: 32px;
    font-family: var(--Space-Grotesk);
    margin-top: 18px;
}
.hero-left .second{
    font-size: 55px;
    /* width: 467px; */
    font-weight: 700;
    font-family: var(--Noto-Sans);
    color: var(--nav-logo);
    margin-left: 15px;
    
    
}
.hero-left p{
    font-size: 26px;
    font-family: var(--Space-Grotesk);
    color: var(--black);
}
.hero-left a{
    text-decoration: none;
    font-size: 16px;
    font-family: var(--Space-Grotesk);
    color: var(--black);
    font-weight: 700;
    margin-bottom: 10px;
}
.text{
    display: flex;
}
.devider-1{
    width: 68px;
    height: 3.76px;
    background-color: var(--nav-logo);
    display: block;
    margin-bottom: 35px;
}
.devider-2{
    width: 120px;
    height: 2px;
    background-color: var(--nav-logo);
    display: block;
    margin-top: 10px;
}
.hero-btn{
    margin-top: 30px;
    background-color: #2B29A7;
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.hero-btn a{
    color: var(--white);
    width: 500;
}
.hero-btn:hover{
    box-shadow: var(--box-shadow-2);
}
/* HERO SECTION END */


/* ABOUR SECTION START */
.about-section{
    margin-top: 97px;
    margin-left: 55px;
}
.about-content h3{
    font-family: var(--Crimson);
    color: var(--nav-logo);
    
    
}
.about-content p {
    color: var(--black);
    font-family: var(--Crimson);
    margin: 20px 75px 95px 145px;
    width: 1063px;
    font-size: 25px;
    line-height: 95%;
}
.about-section .skills h3{
    font-family: var(--Crimson);
    color: var(--nav-logo);
    font-weight: 700;
    text-align: center;
}
.skills-block {
    background-color: #d2cfcfde;
    width: 20%;
    padding: 15px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}
.skills-block h5{
    margin-top: 15px;
}
.skills-block:hover{
    box-shadow: var(--skill-shadow);
}
.about-section .skill-section{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
/* ABOUT SECTION END */


/* PROJECT SECTION START */
.project-section{
    margin-top: 120px;
}
.project-block{
    text-align: center;
    
}
.project-block h3{
    color: var(--nav-logo);
    font-family: var(--Crimson);
    font-weight: 700;
}
.project-block p{
    font-size: 25px;
    font-family: var(--Poppins);
    color: var(--black);
}
.project-row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* width: 33.33%; */
    /* width: calc(100% - 30px); */
    justify-content: center;
    margin-top: 40px;
    
}
.project-content{
    /* width: 25%; */
    margin-bottom: 30px;
    transition: 0.5s;
}
.project-content:hover{
    box-shadow: var(--box-shadow-2);
}
.project-blocks{
    /* background-color: var(--white); */
    box-shadow: var(--box-shadow);
    width: 373px;
    padding: 24px 45px 25px 28px;
    border-radius: 0 0 20px 20px;
}
.project-blocks h6{
    font-family: var(--Poppins);
    font-weight: 500;
    /* margin-top: 24px; */
}
.project-blocks .p-details{
    font-size: 18px;
    font-family: var(--Poppins);
    color: var(--light-gray);
    margin-top: 15px;
    width: 315px;
}
.project-blocks .full{
    color: var(--light-gray);
    font-size: 15px;
}
.project-blocks .bold{
    font-weight: 500;
    
}
.project-blocks .live{
    color: var(--black);
    margin-right: 25px;
    margin-left: 5px;
    font-size: 16px;
    font-family: var(--Poppins);
}
.project-blocks .view{
    color: var(--black);
    margin-left: 5px;
    font-size: 16px;
    font-family: var(--Poppins);
}
/* PROJECT SECTION END */



/* CONTACT SECTION START */
.contact-section{
    margin-top: 80px;
    background-color: var(--hero-bg);
    padding-top: 10px ;
    padding-bottom: 50px;
}
.contact-content h2{
    color: var(--nav-logo);
    font-weight: 700;
    font-family: var(--Crimson);
    text-align: center;
}
.contact-row{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}
.contact-block{
    background-color: var(--nav-logo);
    width: 290px;
    display: inline-flex;
    align-items: center;
    padding: 9px 15px 12px 15px;
    border-radius: 10px;
}
.contact-block a{
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    font-family: var(--Crimson);

    
}
.contact-block span{
    height: 50px;
    width: 50px;
}
.bottom-brk{
    background-color: var(--nav-logo);
    width: 1170px;
    height: 7px;
    display: inline-block;
    margin-left: 50px;
    position: absolute;
     margin-top: 43px;

}
/* CONTACT SECTION END */

/* FOOTER SECTION START */
.footer-section{
    margin: 60px 30px;
}
.footer-items  {
    text-align: center;
    
}
.footer-items ul{
    display: inline-block;
}
.footer-items ul li{
    list-style:none;
}
.footer-items ul li a{
    text-decoration: none;
    color: var(--light-gray);
    font-size: 20px;
    font-family: var(--DM-Sans);
    margin-left: 25px;
    font-weight: 500;
    transition: 0.3s;
}
.footer-items ul li a:hover{
    color: var(--hover-color);
}
.footer-items p{
    font-size: 15px;
    color: var(--light-gray);
    font-family: var(--DM-Sans);
    margin-left: 40px;
    font-weight: 500;
}
/* FOOTER SECTION END */